footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  background-color: #faf1ed;
  gap: 10px;

  img {
    width: 40px;
  }

  p {
    font-size: 0.875rem;
  }

  a {
    font-weight: bold;
  }
}
