:root {
  --accent-color: #ff5d5d;
  --dark-gray: #333;
  --light-gray: #f2f2f2;
  --gray: #545454;
  --green: #04aa6c;
  --light-green: #35e1a1;

  --padding: 12px 15px;
  --bor-radius: 20px;
}

body {
  font-family: Ts-Reg, sans-serif;
}

button {
  border: 0;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  transition: all 0.3s ease-in-out;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  color: var(--gray);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1,
h2 {
  font-weight: bold;
  font-family: TS-Med, sans-serif;
}

h1 {
  font-size: clamp(2rem, calc(1.375rem + 3.125vw), 3.375rem);
}

h2 {
  font-size: 1.75rem;
  margin-block-end: 40px;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-block-end: 30px;
}

.container {
  max-width: min(100% - 32px, 1024px);
  margin: 0 auto;
}

p {
  line-height: 1.2;
}

.carousel {
  display: flex;
  gap: 15px;
  overflow: scroll;

  .card {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 8px;
    flex: 1 0 auto;
    width: calc((100% - 42px) / 1.5);
    cursor: pointer;
  }

  .card:hover {
    img:not(.author > img) {
      opacity: 0.7;
    }

    h3,
    h4 {
      text-decoration: underline;
    }
  }
}

.carousel::-webkit-scrollbar,
.nav-secondary::-webkit-scrollbar {
  display: none;
}

.carousel,
.nav-secondary {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

i {
  font-size: 1.5rem;
}
