header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 999;

  .menu-btn {
    width: 45px;
    aspect-ratio: 1/1;

    i {
      font-size: 28px;
      line-height: 45px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 60px;
  }

  .logo {
    width: 132px;
    flex-shrink: 0;
  }

  ul {
    display: flex;
    place-items: center;
    gap: 5px;

    li:not(.mobile) {
      display: none;
    }

    li span {
      display: none;
    }

    i {
      margin-inline-end: 5px;
    }

    a,
    button {
      padding: 10px;
      border-radius: 20px;
    }

    a:hover {
      background-color: var(--light-gray);
    }
  }
}
