@import "./globals.css";
@import "./header.css";
@import "./footer.css";

/* HEADER */

main {
  padding-block-start: 80px;
}

h1 {
  margin-block-end: 5px;
  span {
    color: var(--accent-color);
  }
}

.baseline {
  margin-block-end: 30px;

  font-size: 14px;
  color: var(--dark-gray);

  a {
    text-decoration: underline;
  }
}

/* ============== NAV SECONDARY ======================== */
.nav-secondary {
  margin-block-end: 30px;
  font-weight: bold;
  overflow-x: scroll;

  ul {
    display: flex;
    gap: 10px;

    li {
      flex: 1 0 auto;
    }

    a {
      height: 100%;
      display: flex;
      padding: var(--padding);
      justify-content: space-between;
      gap: 10px;
      border: 1px solid black;
      border-radius: 12px;
      line-height: 1.2;
    }

    a:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

/* ============== GALLERY ======================== */

.gallery {
  position: relative;
  display: flex;
  height: 280px;
  overflow: hidden;
  margin-block-end: 40px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .col-1 {
    flex: 2;
  }

  .desktop {
    display: none;
  }

  a:hover img {
    opacity: 0.7;
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: var(--padding);
    border-radius: var(--bor-radius);
    font-size: 12px;
    color: #fff;
    background-color: #000;

    i {
      margin-inline-end: 5px;
      font-size: 14px;
    }
  }
  button:hover {
    background-color: #333;
  }
}

/* ============== SMALL NAV ======================== */
.nav-three {
  display: none;
}

/* ============== DESCRIPTION ======================== */

.description {
  display: flex;
  flex-direction: column;
  margin-block-end: 80px;

  .col-1 {
    flex: 3;
    padding-block-end: 60px;
  }

  .col-1 p {
    max-width: 45ch;
    font-size: clamp(16px, calc(14.181818px + 0.568182vw), 20px);
    font-family: Georgia, "Times New Roman", Times, serif;
    color: var(--dark-gray);
  }

  .col-2 {
    display: flex;
    flex-direction: column;

    flex: 2;
    border-radius: 15px;
    overflow: hidden;

    p {
      margin-block-end: 30px;
    }
  }

  .top {
    background-color: var(--accent-color);
    padding: 30px;
    flex: 1;

    button {
      padding: 20px;
      border-radius: 15px;
      background-color: #000;
      color: #fff;
      font-size: 16px;
    }

    button:hover {
      background-color: var(--transparent);
    }
  }

  .bottom {
    flex: 1 0 auto;
    min-height: 200px;
    background: center / cover no-repeat url(../img/image_trips_card_medium.png);
  }
}

/* ============== ATTRACTIONS ======================== */

.attractions,
.restaurants {
  display: flex;
  flex-direction: column;
  margin-block-end: 40px;

  h3 {
    font-size: 24px;
  }

  h3 + p {
    margin-block: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    max-width: 45ch;
  }

  a.underline {
    font-weight: bold;
    color: var(--gray);
  }

  .col-1 {
    margin-block-end: 40px;
  }

  .card {
    img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    .main-image {
      position: relative;
    }

    .heart {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .heart:hover {
      background-color: var(--light-gray);
    }

    .badge {
      position: absolute;
      bottom: 10px;
      left: 10px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 2px;
      width: fit-content;
      height: fit-content;
      padding: 3px;
      border-radius: 60% 60% 5px 5px;
      background-color: var(--light-green);

      span {
        font-size: 10px;
        font-weight: bold;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
    }

    .num,
    p {
      color: var(--dark-gray);
    }

    .num {
      font-size: 12px;
    }

    p {
      font-size: 14px;
    }

    .rating {
      display: flex;
      align-items: center;

      i {
        color: var(--green);
        font-size: 12px;
      }

      span {
        margin-inline-start: 10px;
      }
    }
  }
}

.restaurants {
  margin-block-end: 100px;
}

/* ============== ARTICLES ======================== */

.articles {
  margin-block-end: 100px;

  .carousel {
    img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    h3 {
      font-size: 18px;
      margin-block-end: 0;
    }

    .quantity {
      font-size: 14px;
    }
  }

  .author {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;

    img {
      border-radius: 50%;
      width: 25px;
    }

    img {
      aspect-ratio: 1/1;
    }

    span {
      font-weight: bold;
    }
  }
}
