@import "./globals.css";
@import "./header.css";
@import "./footer.css";

main {
  padding-block-start: 60px;
}
h1 {
  padding-block-start: 20px;

  span {
    color: var(--accent-color);
  }
}
.baseline {
  margin-block-start: 10px;
  font-size: 14px;
  color: var(--dark-gray);

  a {
    text-decoration: underline;
  }
}

/* ============== NAV SECONDARY ======================== */
.nav-secondary {
  margin-block-start: 30px;
  font-weight: bold;

  ul {
    display: flex;
    gap: 10px;

    li {
      flex: 1;
    }
    i {
      font-size: 18px;
    }
    a {
      height: 100%;
      display: flex;
      padding: 12px 15px;
      justify-content: space-between;
      gap: 10px;
      border: 1px solid black;
      border-radius: 12px;
      line-height: 1.2;
    }

    a:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

/* ============== IMAGES ======================== */

.images {
  display: flex;
  margin-block-start: 30px;
  height: 430px;
  gap: 2px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .col-1 {
    flex: 5;
  }

  .col-2 {
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 2px;

    a {
      flex: 1;
      height: 50%;
    }
  }
  a:hover img {
    opacity: 0.7;
  }
}

/* ============== SMALL NAV ======================== */
.nav-three {
  display: flex;
  margin-block-start: 20px;
  justify-content: space-between;
  font-size: 12px;
}

.nav-three ul {
  display: flex;
  gap: 5px;

  i {
    margin-inline-start: 5px;
    font-size: 10px;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* ============== DESCRIPTION ======================== */

.description {
  display: flex;
  margin-block: 40px;

  .col-2 {
    flex: 2;
  }

  .col-1 {
    flex: 3;
  }

  .col-1 p {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: var(--dark-gray);
    max-width: 45ch;
  }

  .col-2 {
    border-radius: 15px;
    overflow: hidden;
  }

  .top {
    background-color: var(--accent-color);
    padding: 30px;

    p {
      margin-block-start: 30px;
    }

    button {
      margin-block-start: 30px;
      padding: 20px;
      border-radius: 15px;
      background-color: #000;
      color: #fff;
      font-size: 16px;
    }

    button:hover {
      background-color: var(--transparent);
    }
  }

  .bottom {
    height: 200px;
    background: center / cover no-repeat url(../img/image_trips_card_medium.png);
  }
}

/* ============== ATTRACTIONS ======================== */

.recommendations {
  margin-block-start: 50px;

  h3 {
    font-size: 24px;
  }
  .attractions,
  .restaurants {
    display: flex;
    margin-block-end: 40px;
  }

  h3 + p {
    margin-block: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    max-width: 45ch;
  }

  a.underline {
    font-weight: bold;
    color: var(--gray);
  }

  .col-1 {
    flex: 1 0 300px;
    padding-inline-end: 50px;
  }

  .col-2 {
    display: flex;
    gap: 15px;
    overflow: scroll;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 auto;
    width: calc((100% - 15px) / 3);

    img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }
    .image {
      position: relative;
    }
    .heart {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      right: 10px;

      i {
        font-size: 20px;
      }
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
    }
    .num,
    p {
      color: var(--dark-gray);
    }
    .num {
      font-size: 12px;
    }
    p {
      font-size: 14px;
    }

    .rating .star {
      display: inline-block;
      margin-inline-end: 2px;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: var(--green);
    }
  }

  .card:hover {
    img {
      opacity: 0.7;
    }
    h4 {
      text-decoration: underline;
    }
  }
}

/* ============== ARTICLES ======================== */

.articles {
  margin-block-start: 100px;

  .carousel {
    margin-block-start: 40px;
    display: flex;
    gap: 20px;
    overflow: scroll;

    .card {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: calc((100% - 40px) / 3);
    }

    img {
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    h3 {
      font-size: 18px;
    }

    .quantity {
      font-size: 14px;
    }
  }

  .author {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;

    img {
      border-radius: 50%;
      width: 25px;
    }

    img {
      aspect-ratio: 1/1;
    }

    span {
      font-weight: bold;
    }
  }
}
